*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, a, p, img, ul, li, label, h1, h2, h3, h4, h5, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body, {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#container {
  margin: 0 auto;
  width: 1200px;
}
@media screen and (max-width: 640px) {
  #container {
    margin: 0;
    width: 100vw;
  }
}

header {
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  header {
    flex-flow: column nowrap;
    height: auto;
    align-items: center;
  }
  .header__info {
    margin-left: 0 !important;
  }
}

.header__title {
  padding: 0 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.header__classname {
  font-weight: bold;
  font-size: 1.2em;
}

.header__logo {
  width: 150px;
}

.header__info {
  margin-left: auto;
  padding: 10px;
}

.navbar-default {
  border-radius: 0;
  background-image: none;
  background-color: white;
  background-repeat: no-repeat;
  box-shadow: none;
  margin: 0;
  border-color: transparent;
  border-bottom: 1px solid #e7e7e7;
}

.nav {
  width: 100%;
}

.nav-item {
  padding: 5px 0;
}

.nav-characteristic,
.nav-courses,
.nav-expense,
.nav-becoming,
.nav-classroom,
.nav-inquiry {
  color: #212121;
  height: 50px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-active {
  border-bottom: 2px solid deepskyblue;
}

#characteristic,
#courses,
#expense,
#becoming,
#classroom,
#inquiry {
  border-top: 2px solid deepskyblue;
}

#show {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 0;
}

.row {
  margin: 0 !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.show__image {
  height: 400px;
  object-fit: cover;
  padding: 0;
}
@media screen and (max-width: 640px) {
  #show {
    display: none;
  }
}

.show__message {
  position: relative;
  font-size: 2em;
  min-width: 500px;
  top: 14px;
  left: -54%;
  color: deepskyblue;
  font-weight: bold;
  text-shadow: 2px 2px 3px #ccc;
  z-index: 10;
}

.expense__header--wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.expense__header--notify {
  margin: 10px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #80deea;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characteristic__header,
.courses__header,
.expense__header,
.becoming__header,
.classroom__header,
.inquiry__header {
  height: 50px;
  width: 200px;
  background-color: deepskyblue;
  border-radius: 0 0 10px 10px / 0 0 10px 10px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.characteristic__content {
  padding: 40px 0;
}

.characteristic__comments {
  padding-left: 20px;
}

.characteristic__comments--title {
  border-bottom: 2px solid orange;
  line-height: 2.2em;
}

.characteristic__image {
  padding: 0 50px;
}

.characteristic__image--view {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courses__content {
  width: 100%;
  padding: 20px 10px;
}

.courses__card {
  height: 250px;
}

.courses__card--header {
  display: flex;
}

.courses__card--title {
  flex-grow: 1;
}

.courses__card--text {
  padding: 10px 0;
}

.courses__card--type {
  width: 200px;
  height: 50px;
  border: 1px solid #ddd;
  border-top: 3px solid #424242;
  box-shadow:0px 3px 6px 0px #ccc;
  color: #424242;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.courses__card--image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.courses--kids {
  border-top: 3px solid orange;
  color: orange;
}

.courses--elementary {
  border-top: 3px solid deepskyblue;
  color: deepskyblue;
}

.courses--intermediate {
  border-top: 3px solid tomato;
  color: tomato;
}

.courses--advanced {
  border-top: 3px solid #8BC34A;
  color: #8BC34A;
}

.courses--teens {
  border-top: 3px solid purple;
  color: purple;
}

.expense__content {
  width: 100%;
  padding: 20px 10px;
}

.expense__card {
  border: 1px solid #ddd;
  border-top: 3px solid #646464;
  box-shadow:0px 3px 6px 0px #ccc;
  margin: 20px 0;
  height: 250px;
}

.expense__card--table {
  padding: 8px;
}

.expense__card--title {
  display: flex;
  justify-content: center;
  color: #646464;
}

.expense__card--list {
  list-style: none;
  padding: 5px 8px;
}

.expense__card--kids {
  border-top: 3px solid orange;
}
.expense__title--kids {
  color: orange;
}

.expense__card--elementary {
  border-top: 3px solid deepskyblue;
}
.expense__title--elementary {
  color: deepskyblue;
}

.expense__card--intermediate {
  border-top: 3px solid tomato;
}
.expense__title--intermediate {
  color: tomato;
}

.expense__card--advanced {
  border-top: 3px solid #8BC34A;
}
.expense__title--advanced {
  color: #8BC34A;
}

.expense__card--teens {
  border-top: 3px solid purple;
}
.expense__title--teens {
  color: purple;
}

.becoming__content {
  padding: 20px;
}

.becoming__step {
  padding: 5px;
}

.becoming__step:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.becoming__step--title {
  color: deepskyblue;
  font-size: 1.2em;
}

.becoming__step--text {
  padding: 10px;
}

.classroom__content {
  padding: 20px 0;
}

.classroom__info {
  padding: 20px 0;
}

.classroom__address {
  padding: 15px;
}

.classroom__teacher--info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  color: #40C4FF;
  font-size: 1.1em;
}

.classroom__teacher--container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classroom__teacher--container img {
  border-radius: 1920px;
  border: 1px solid #ccc;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.classroom__map {
  display: flex;
  justify-content: center;
  pointer-events: none;
  padding: 20px 0;
}

.inquiry__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 50px 0;
}

.inquiry__info {
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.inquiry__lesson {
  display: flex;
}

.inquiry__trial,
.inquiry__apply {
  width: 150px;
  height: 80px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inquiry__trial {
  background-color: red;
}

.inquiry__apply {
  background-color: dodgerblue;
}

.inquiry__document {
  background-color: green;
  margin: 20px auto;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.inquiry__form--wrapper {
  background-color: #4FC3F7;
}

.inquiry__form {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0;
}

.inquiry__form--input {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 8px 0;
  color: white;
}

.inquiry__form--textarea {
  height: 300px;
  resize: none;
}

.inquiry__form--input:focus {
  box-shadow: 0 0 0 2px white;
}

.inquiry__form--input::-webkit-input-placeholder {
  color: white;
}

.inquiry__form--button {
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  margin: 8px auto;
  color: white;
  width: 200px;
  background-color: #4FC3F7;
}
.inquiry__form--button:hover {
  box-shadow: 0 0 0 2px white;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #FFFFFF;
  background-color: deepskyblue;
  padding: 20px 10px;
  line-height: 1.7em;
  text-align: center;
}
